*
{
    margin: 0;
    padding: 0;
}

main
{
        width: 500px;
        margin: 0 auto;
}

p
{
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

h1 + p, h2 + p 
{
    font-style: italic;
}

article
{
    margin: 1rem;

}

body
{
    line-height: 1.5;
}

img
{
    
    margin-right: 1rem;
    float: left;
}

h1
{
    font-size: 2rem;
}

h1, h2
{
    margin: 1rem 0;
    font-family: 'Lora', serif;
}

nav
{
    background-color: darkslategray;
    height: 50px;
    line-height: 50px;
}



@media only screen and (min-width: 501px) 
{
    
}

@media only screen and (min-width: 1201px) 
{

}