@mixin button_normal($textcolor: black, $bgcolor: whitesmoke, $bordercolor: black,) 
{

    display: inline-block;
	padding: 4px 16px 2px 16px;	
	border-radius: 8px;
	font-size: .9em;
	border: 1px solid $bordercolor;
	text-decoration: none;
	background-color: $bgcolor;
    color: $textcolor;

    &::after
    {
        content: '\25BA';
        padding-left: 6px;
        font-size: 0.8em;
        color: rgba($textcolor, 0.7);

    }

}

@mixin button_hover($textcolor, $bgcolor) 
{
    color: $textcolor;
    background-color: $bgcolor;
}