*
{
    margin: 0;
    padding: 0;
}

.kundeNavn, .kundeFornavn, .kundeAdr, .kundeZip, .kundeBy, .bankNavn, .bankMail, .bankAdr, .bankBy, .bankSender, .bankSenderTitle, .bankTlfNr, .bankZip, .dagsDato, .ugedag, .vinderDato 
{
    color: red;
}