* {
    color:hsl(219, 25%, 25%);
    background-color: hsl(39, 77%, 83%);
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Overpass', sans-serif;
}

h1, h2 {
    color: hsl(219, 64%, 27%);
}

li {
    color: hsl(207, 44%, 49%);
}

nav, nav a {
    background-color: hsl(219, 64%, 27%);
    color: hsl(39, 100%, 98%);
    text-decoration: none;
    padding: 25px;
    text-align: center;
}

main {
    margin: 10px 25px;
}

img {
    height: auto;
    width: 50%;
}