* {
    color: darkslategray;
    background-color: wheat;
}

h1, h2 {
    color: midnightblue;
}

li {
    color: steelblue;
}  

nav, nav a {
    background-color: midnightblue;
    color: mintcream;
    text-decoration: none;
}

img {
    height: auto;
    width: 50%;
}