* 
{
    border: 0px;
    margin: 0px;
}

body 
{
    max-width: 1200px;
    
}

header
{
    display: inline;
    float: right;
    background-color: indigo;
    height: 100px;
    width: 100%;
}

header img 
{
    display: inline-block;
    height: 100px;
    width: auto;
}

header img:first-of-type
{
    float: left;
}

header, .side 
{
    background-color: #CCCCCC;
}

.top ul, footer 
{
    height: 40px;
    width: 100%;
    background-color: #565952;
}

.top 
{
    background-color: #565952;
    text-align: center;
}

.top ul
{
    display: inline;
}

.top ul li
{
    display: inline-block;
    padding: 20px;
}

nav a, footer
{
    color: white;
}

main 
{
    position: relative;
    display: inline-block;
}

main p 
{
    color: black;
}

main section 
{
    display: inline-block;
    height: 100%;
    width: 45%;
    padding: 1rem;
}

main section article 
{
    display: block;
    height: 50%;
    width: 100%;
}

main section article img 
{
    float: left;
    margin: 1rem;
}

.side 
{
    float: left;
    display: block;
    height: 100%;
}

.side ul 
{
    height: 100%;
    width: 120px;
    display: block;
}

.side li 
{
    display: block;
    background-color: rgba(50, 54, 84, 0.8);
}

footer 
{
    text-align: center;
    display: block;
    bottom: 40px;
}